/************************
GENERAL
*************************/

body {
		/* location of the image*/
	background-image: url("../img/sinclair_bg.jpg");
	
	/* background image is center vertically and horizontally
	   at all times */
	background-position: center;
	
	/* background image is fixed in the viewport so that it
	   doesn't move when the content's height is greater than
	   the image height */
	background-attachment: fixed;
	
	/* background image rescales based on the container's size */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	background-repeat: no-repeat;
	font-size: 1em;
}

#spiralfire_wrapper {
	width: 100%;
	background-color: black;
	opacity: .7;
}

#band_heading {
	width: 100%;
	max-height: 100px;
}

.content-heading {
	color: #a63325;
	display: inline;
}

.arrow {
	max-width: 1.25rem;  /* 20px/16px */
	vertical-align: bottom;
}

.page-top {
	
}

/************************
NAVIGATION
*************************/
nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #ca0c0c;
	overflow: hidden;
}

nav ul li {
	text-align: center;
	float:left;
	width: 28%;
	margin: 0 1% 5px;
	font-family: 'Rock salt';
	font-size: .7em;
	border-right: 2px solid #ca0c0c;
	border-left: 2px dotted #ca0c0c;
	border-radius: 50%;
}

nav ul li a {
	text-decoration: none;
	color: #d7921a;
	padding: 5px;
}

nav ul li a:hover {
	color: purple;
}


/************************
VIDEO
*************************/
#youtube-video {
	text-align: center;
}

iframe {
	max-width: 95%;
}

/************************
BAND MEMBERS
*************************/
#members {
	width: 100%;
	margin: 0 auto;
	padding: 5px;
	background-color: rgba(0,0,0, .7);
}

#members ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	overflow: hidden;
}

#members ul li {
	margin: .3em;
	font-family: Georgia;
	font-size: .7em;
	color: #d7921a;
}

/************************
SOCIAL MEDIA
*************************/
#social-media-wrapper {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	font-size: 0;
}

#social-media-wrapper > a {
	text-decoration: none;
	display: inline-block;
	margin: 0 5px;
	padding: 5px;
}

.social-media {
	max-height: 1rem;
	max-width: 1rem;
}

/************************
BAND BIO
*************************/
#bio {
	background-color: rgba(0, 0, 0, .7);
	width: 90%;
	margin: 0 auto .3125rem;
	font-size: .7rem;
	border-top: 2px solid #a63325;
	border-bottom: 2px solid #a63325;
	text-align: justify;
}

#bio p {
	margin: 0;
	padding: .5em 1.5em;
	font-size: .7rem;
	color: #d7921a;
}

#bio p a {
	color: #a63325; 
}

/************************
MUSIC
*************************/
#music {
	background-color: rgba(0, 0, 0, .7);
	border-top: 2px solid #a63325;
	border-bottom: 2px solid #a63325;
	width: 90%;
	text-align: center;
	margin: .8em auto;
}

#music figure {
	margin: 0;
}

#music audio {
	width: 90%;
}

#music figcaption {
	font-size: .7rem;
	color: #a63325;
}
