/************************
GENERAL
*************************/

body {
		/* location of the image*/
	background-image: url("../img/sinclair_bg.jpg");
	
	/* background image is center vertically and horizontally
	   at all times */
	background-position: center center;
	
	/* background image is fixed in the viewport so that it
	   doesn't move when the content's height is greater than
	   the image height */
	background-attachment: fixed;
	
	/* background image rescales based on the container's size */
	background-size: cover;
	font-size: 16px;
}

#spiralfire_wrapper {
	width: 100%;
	background-color: black;
	opacity: .7;
}

#band_heading {
	width: 100%;
	max-height: 100px;
	border-bottom: 1px solid black;
}

/************************
NAVIGATION
*************************/
nav {
	text-align: center;
}

nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

nav ul li {
	float:left;
	width: 28%;
	margin: 0 1% 5px;
	font-family: 'Rock salt';
	font-size: .7em;
	border-right: 2px solid #ca0c0c;
	border-left: 2px dotted #ca0c0c;
	border-radius: 50%;
}

nav ul li a {
	text-decoration: none;
	color: #d7921a;
	padding: 5px;
}

nav ul li a:hover {
	color: purple;
}


/************************
VIDEO
*************************/
#youtube-video {
	text-align: center;
}

iframe {
	max-width: 95%;
}

/************************
BAND MEMBERS
*************************/
#members {
	width: 100%;
	margin: 0 auto;
	padding: 5px;
	background-color: rgba(0,0,0, .7);
}

#members ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	overflow: hidden;
}

#members ul li {
	margin: 5px 0;
	font-family: Georgia;
	font-size: .7em;
	color: #d7921a;
}

/************************
SOCIAL MEDIA
*************************/
#social-media-wrapper {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

#social-media-wrapper a {
	text-decoration: none;
	margin: 0;
}

.social-media {
	margin: 5px 10px;
	max-height: 15px;
	max-width: 15px;
}



